 <nav>
        <div class="navbar flex">
            <i class="fas fa-bars dnone" id="hamburgerLines"></i>
            <a href="#" class="logo"><span>Max</span>wheels</a>
            <div id="ulWrapper" class="ul-wrapper">
                <a href="#home">home</a>
                <a href="#vehicles">vehicles</a>
                <a href="#services">services</a>
                <a href="#featured">featured</a>
                <a href="#reviews">reviews</a>
                <a href="#contact">contact</a>
            </div>
            <div class="login-wrapper">
                <button class="btn login-btn" id="loginBtn">Login</button>
                <i class="fa fa-user dnone" id="userLogo"></i>
            </div>
        </div>
    </nav>